# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development
.env.production
.env.monitoring
*.env

# Security & secrets
*.key
*.pem
*.crt
secrets/
*secrets-generated.yaml
*secrets

# Kubernetes Secrets
k8s/secrets.yaml
k8s/secrets-*.yaml
k8s/*-secrets.yaml
k8s/secrets-generated.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Runtime files
*.local

# Backup/temp files
k8s/*.bak
k8s/*.tmp
# Monitoring Environment
k8s/monitoring/.env.monitoring
*.env.monitoring


# GitOps Secrets
gitops/environments/development/secrets.yaml



**/secrets.yaml


# Lokale Terraform-Dateien
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
terraform.tfvars